.main {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 100%;
  width: 100%;

  .header {
    display: flex;
    justify-content: space-around;
    padding: 24px;
  }

  .content {
    padding: 24px;
    width: 90%;
  }
}